body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

/*COLORS*/
.pri {
  color: #2c98f0;
}

/*MARGINS*/

.m_a {
  margin-left: auto;
  margin-right: auto;
}

/*FONT SIZE*/
.fs_12 {
  font-size: 12px;
}

/*TEXT_ALIGN*/
.ta_c {
  text-align: center;
}

/*DISPLAY*/

.d_f {
  display: flex;
}
.d_ib {
  display: block;
}

/*JUSTIFY_CONTENT*/
.jc_sa {
  justify-content: space-around;
}
